.md-html {
  padding: 30px 0;
  color: #64696d;
}

.md-html h1,
.md-html h2,
.md-html h3,
.md-html h4,
.md-html h5,
.md-html h6 {
  font-family: "brandon-grotesque", serif;
  font-weight: 500;
	color: #582c5f;
}

.md-html h1 {
  font-size: 2.25em;
}

.md-html h2 {
  font-size: 2em;
}

.md-html h3 {
  font-size: 1.625em;
}

.md-html h4 {
  font-size: 1.25em;
}

.md-html h5 {
  font-size: 1em;
}

.md-html h6 {
  font-size: 0.85em;
}

.md-html img {
  border: 0;
  max-width: 100%;
  box-sizing: content-box;
}

.md-html hr {
  box-sizing: content-box;
  height: 0;
}

.md-html p {
  line-height: 1.6;
}

.md-html ul,
.md-html ol {
  line-height: 1.6;
}

.md-html table {
  border-collapse: collapse;
  border-spacing: 0;
}

.md-html td,
.md-html th {
  padding: 0;
}

.md-html table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

.md-html table th {
  font-weight: bold;
}

.md-html table th,
.md-html table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.md-html table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.md-html table tr:nth-child(2n) {
  background-color: #f9fafc;
}

.md-html pre {
  padding: 10px;
  overflow: auto;
  background: #f9fafc;
}

.md-html code,
.md-html kbd,
.md-html pre {
  font-family: monospace, monospace;
}